@model ExpatManager.Models.ModifiedBaseClass
<fieldset>
    <legend>Updates</legend>
    <div class="span-6">
        <div class="editor-label">@Html.LabelFor(model => model.Status)</div>
    </div>
    <div class="span-6">
        <div class="editor-field">@Html.EditorFor(model => model.Status)</div>
    </div>
    <div class="span-6">
    </div>
    <div class="span-6">
    </div>
</fieldset>
