<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ExpatManagement.Reporting.Properties.Settings.ExpatConnectionString"
            connectionString="Data Source=LD1ND4041\CORPSRV;Initial Catalog=Expat;Persist Security Info=True;User ID=Expat;Password=Exp@tU$er"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        
       <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />       
        
       
    </startup>
</configuration>