@{
    ViewBag.Title = "Help";
}
<h2>
    Help</h2>
<h3>
    Agent Detail</h3>
<p>
    Agent Detail is used to manage all agent information. Agent's are assigned to Expatriate's
    on the agreement details page, as each agreement could have an unique agent.
</p>
<h4>
    Create</h4>
<div>
    Agent Detail Create page is used to create new agents.</div>
<h4>
    Delete</h4>
<div>
    Agent Detail Delete page is used to delete new agents.</div>
<h4>
    Details</h4>
<div>
    Agent Detail Details page is used to provide full details to agents.</div>
<h4>
    Edit</h4>
<div>
    Agent Detail Edit page is used to edit agents details.</div>
<h5>
    Index</h5>
<div>
    Agent Detail Index page is used to list all agents details and to search for agents.
    This page allows naviagation to details, edit and delete.</div>
<h3>
    Agreement Detail</h3>
<h3>
    Expatriate</h3>
<h3>
    Expatriate History</h3>
