@{
    ViewBag.Title = "Home Page";
}
<h2>@ViewBag.Message</h2>
<fieldset>
    <div class="span-12">
        <p>
            Expat Residential Team<br />
            <a href="http://ld1na665/Reports/Pages/Report.aspx?ItemPath=%2fUserReports%2fCorporateServices%2fProcurement%2fEXPATRIATE+MANAGEMENT+SG+LAYOUT+RENTS"
                target="_blank">SG LAYOUT RENTS</a><br />
            <a href="http://ld1na665/Reports/Pages/Report.aspx?ItemPath=%2fUserReports%2fCorporateServices%2fProcurement%2fEXPATRIATE+MANAGEMENT+MONTHLY+RENTS+PAYMENT"
                target="_blank">RENTS PAYMENT</a><br />
            <a href="http://ld1na665/Reports/Pages/Report.aspx?ItemPath=%2fUserReports%2fCorporateServices%2fProcurement%2fEXPATRIATE+MANAGEMENT+RENEWALS"
                target="_blank">RENEWALS</a><br />
            <a href="http://ld1na665/Reports/Pages/Report.aspx?ItemPath=%2fUserReports%2fCorporateServices%2fProcurement%2fEXPATRIATE+MANAGEMENT+MONTHLY+RENEWALS+FOR+Ys+Homes"
                target="_blank">RENEWALS FOR Ys HOMES</a><br />
            <a href="http://ld1na665/Reports/Pages/Report.aspx?ItemPath=%2fUserReports%2fCorporateServices%2fProcurement%2fEXPATRIATE+MANAGEMENT+COUNCIL+TAX"
                target="_blank">COUNCIL TAX</a><br />
            <a href="http://ld1na665/Reports/Pages/Report.aspx?ItemPath=%2fUserReports%2fCorporateServices%2fProcurement%2fEXPATRIATE+MANAGEMENT+COUNCIL+TAX+REFUND"
                target="_blank">COUNCIL TAX REFUND</a><br />
            <a href="http://ld1na665/Reports/Pages/Report.aspx?ItemPath=%2fUserReports%2fCorporateServices%2fProcurement%2fEXPATRIATE+MANAGEMENT+GM+REPORT"
                target="_blank">GM REPORT</a><br />
            <a href="http://ld1na665/Reports/Pages/Report.aspx?ItemPath=%2fUserReports%2fCorporateServices%2fProcurement%2fEXPATRIATE+MANAGEMENT+TERMINATION"
                target="_blank">TERMINATION</a><br />
            <a href="http://ld1na665/Reports/Pages/Report.aspx?ItemPath=%2fUserReports%2fCorporateServices%2fProcurement%2fEXPATRIATE+MANAGEMENT+GAS"
                target="_blank">GAS SAFETY CERTIFICATE</a><br />
            <a href="http://ld1na665/Reports/Pages/Report.aspx?ItemPath=%2fUserReports%2fCorporateServices%2fProcurement%2fEXPATRIATE+MANAGEMENT+REQUIRED+DOCUMENTS"
                target="_blank">REQUIRED DOCUMENTS</a><br />
        </p>
        <br />
        <p>
            Expat Management (HR)<br />
            <a href="http://ld1na665/Reports/Pages/Report.aspx?ItemPath=%2fUserReports%2fCorporateServices%2fProcurement%2fEXPATRIATE+LAST+YEAR+VS+CURRENT+YEAR+MONTHLY+REGULAR+PAYMENT"
                target="_blank">LAST YEAR VS CURRENT YEAR MONTHLY REGULAR PAYMENT</a><br />
            <a href="http://ld1na665/Reports/Pages/Report.aspx?ItemPath=%2fUserReports%2fCorporateServices%2fProcurement%2fEXPATRIATE+MISSING+COUNCIL+TAX"
                target="_blank">MISSING COUNCIL TAX</a><br />
            <a href="http://ld1na665/Reports/Pages/Report.aspx?ItemPath=%2fUserReports%2fCorporateServices%2fProcurement%2fEXPATRIATE+RENT+CONTRIBUTION"
                target="_blank">RENT CONTRIBUTION</a><br />
            <a href="http://ld1na665/Reports/Pages/Report.aspx?ItemPath=%2fUserReports%2fCorporateServices%2fProcurement%2fEXPATRIATE+MANAGEMENT+PAYMENTS"
                target="_blank">ALL PAYMENT</a><br />
            <a href="http://ld1na665/Reports/Pages/Report.aspx?ItemPath=%2fUserReports%2fCorporateServices%2fProcurement%2fEXPATRIATE+MANAGEMENT+MONTHLY+PAYMENT+HR"
                target="_blank">MONTHLY PAYMENT HR</a><br />
        </p>
    </div>
</fieldset>
